/* Common Styles */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column; /* Stack components vertically */
  /* min-height: 100vh; */
  min-height: 100vh;
  background: #d9cbff;
  background-attachment: fixed;
}

.header {
  position: fixed; /* Fix the header at the top */
  top: 0;
  left: 0;
  width: 100%; /* Ensure it spans the full width */
  z-index: 1000; /* Keep it above other elements */
  display: flex;
  justify-content: space-between; /* Space out elements in the header */
  align-items: center;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

.header-logo {
  height: 100px; 
  margin-right: 15px; /* Add spacing between the logo and the title */
}

.platform-title {
  font-size: 26px;
  font-weight: bold;
  color: white;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  letter-spacing: 1px;
  text-align: center;
  width: 100%;
}

.screens-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column; /* Stack screens vertically*/
  min-height: 100vh;
  }

/* Animation for button clicks */
@keyframes buttonPulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(0.95);
  }
  100% {
    transform: scale(1);
  }
}

.swap-card-btn.interested-disabled {
  background-color:#b299d8;
  color: #f1f1f1;
  cursor: not-allowed;
  opacity: 0.8;
}

.btn:active,
.post-btn:active,
.action-btn:active,
.requests-btn:active {
  animation: buttonPulse 0.3s ease;
}
.swap-card-btn:active {
  animation: buttonPulse 0.3s ease;
}

@media (max-width: 768px) {
  .profile-details {
    grid-template-columns: 1fr;
  }
}
